/* ----------------- General Styling ---------------- */

* {
  font-family: "Roboto", sans-serif;
}

/* ----------------- Body ---------------- */

/* part 1 and 2 of styling to keep footer at bottom of page */
body {
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 50px;
}
/* part 1 and 2 of styling to keep footer at bottom of page */

/* ----------------- Header ---------------- */

/* This may need to be changed later if header is going through other elements, Z index?? */
header {
    position: sticky; 
    top: 0;
    z-index: 100;
}

/* ----------------- Navbar ---------------- */

a.navbar-brand {
  font-size: 175%;
  color: rgb(193, 210, 214);
  transition: transform 0.2s; /* Animation for zoom in effect */
}

a.navbar-brand:hover {
  color: #bf1363;
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

button.navbar-toggler {
  background-color: rgb(193, 210, 214);
  transition: transform 0.2s; /* Animation for zoom in effect */
}

button.navbar-toggler:hover {
  background-color: #bf1363;
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a.nav-link {
  font-size: 120%;
  color: rgb(193, 210, 214);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

a.nav-link:hover,
a.nav-link:focus,
a.nav-link:active {
  color: #bf1363;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

div.container {
  margin-left: 0%;
  margin-right: 0%;
}

/* ----------------- About ---------------- */

.about-container {
  color: rgb(193, 210, 214);
  margin: 20% auto;
  width: 80%;
}

.about-title {
  text-align: center;
}

.about-text {
  background-color: #010f54;
  padding: 3%;
  border-radius: 15%;
}

.picture-container {
  display: inline-flex;
  justify-content: center;
}

.picture {
  border-radius: 15%;
  width: 25%;
}

/* ----------------- Portfolio ---------------- */

.portfolio-title {
    text-align: center;
    color: rgb(193, 210, 214);
}

.center {
	display: flex;
	justify-content: center;
}

/* ----------------- Carousel ---------------- */

.carousel-container {
  background-color: red;
  height: 600px;
}

.img-container {
  text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #010f54;
  border-radius: 20%;
}

.carousel-style {
    width: 75%;
    height: 500px;
    margin: auto;
}

.info-container {
  background-color: #010f54;
  border-radius: 30%;
}

.app-link, .gh-link {
  width: 130px;
}

/* ----------------- Footer ---------------- */

/* part 3 of styling to keep footer at bottom of page */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footerDiv {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

.footerText {
  color: rgb(193, 210, 214);
}